*{
    box-sizing: border-box;
    margin :0;
    padding :0;
    /* font-family: "Outfit",Arial, Helvetica, sans-serif; default we are saying outfit as fouunt style */
}

html {
    scroll-behavior:smooth;
}

.--flex-between{
    display: flex;
    /* width: 100vw; */
    /* justify-content: center; */
    /* justify-content:flex-end; */
    justify-content: space-between;
    
    /* justify-content: end; */
}

.--fw-thin{
    font-weight: 400;
    /* justify-content: flex-start; */

    
}

.--btn{
    /* justify-content: flex-end; */
    background-color:#4681f4;
    color: black;
    border: none;
    border-radius: 20px;
    width:150px;
    height:35px
}

--btn:hover{
    background-color:blue;
}

.--btn-primary{
    background-color:#008CBA;
}

.--btn-primary:hover{
    background-color: blue;
}

.--hr{
    height:1px; background:gray;margin-bottom: 2px;
}